<!-- FORMULARIO -->
<H3 class="mt-5">GESTION DE EXPEDIENTE</H3>
<form>
  <div class="mb-3"> 
    <!--el for apunta al id, definir name para validaciones-->
    <label for="numeroExpediente" class="form-label">Numero Expediente</label>
    <input type="number" class="form-control" id="numeroExpediente" name="numeroExpediente"[(ngModel)]="expediente.numeroExpediente">
  </div>
  <div class="mb-3">
    <label for="descripcion" class="form-label">Descripcion</label>
    <input type="text" class="form-control" id="descripcion" name="descripcion"[(ngModel)]="expediente.descripcion">
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="archivarAlDeposito" name="archivarAlDeposito" [(ngModel)]="expediente.archivarAlDeposito">
    <label class="form-check-label" for="archivarAlDeposito">Archivar</label>
  </div>
  <button type="submit" class="btn btn-primary" (click)="registrar()">Registrar Expediente</button>
</form>

<!-- TABLA -->
<!-- mt=margin top, para darle un espacio arriba del h3 -->
<h3 class="mt-5">LISTADO DE EXPEDIENTE</h3>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Numero</th>
        <th scope="col">Descriptcion</th>
        <th scope="col">Archivado</th>
      </tr>
    </thead>
    <!-- BINDING EN UNA DIRECCION-UNIDIRECCIONAL -->
    <tbody>
      <!--En version anteriores se haria en <tr *ngFor ="let   e   of   listExpediente"> <td>{{e.numeroEspediente}}</td> -->
      @for (item of expedienteList; track $index) {
        <tr>
          <td>{{item.numeroExpediente}}</td>
          <td>{{item.descripcion}}</td>
          <td>{{item.archivarAlDeposito}}</td>
        </tr>
      }
    </tbody>
  </table>