<nav class="navbar navbar-expand-lg bg-danger-subtle fixed-top">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        @for (menuItem of menuItems; track $index) {
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="menuItem.routerLink"
            routerLinkActive="active"
            >{{ menuItem.label }}</a
          >
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
