<div class="container">
    <h1>Traductor de Idiomas</h1>

    <form>
        <label for="source">Seleecionar Idioma de Origen</label>
        <select class="form-select col" name="source" [(ngModel)]="source">
            <option value="es" selected>Español</option>
            <option value="en">Ingles</option>
            <option value="it">Italiano</option>
            <option value="fr">Frances</option>
        </select>

        <label for="target">Selleciona el Idioma de Destiono:</label>
        <select class="form-select col" name="target" [(ngModel)]="target">
            <option value="en" selected>Ingles</option>
            <option value="it">Italiano</option>
            <option value="fr">Frances</option>
            <option value="es">Español</option>
        </select>

        <label for="texto">Texto a Traducir:</label>
        <div class="row mb-3">
            <div class="form-floating col-12 p-0">
              <input type="text" class="form-control" id="query" name="query" placeholder="Hola Mundo" [(ngModel)]="texto"/>
            </div>
        </div>

        <button type="button" id="traducir" (click)="traducirTexto()">Traducir</button>
        <br>
        <label for="textoTraducido">Texto Traducido:</label>
        <textarea class="form-control" id="textoTraducido" name="textoTraducido" rows="5" disabled [(ngModel)]="textoTraducido" ></textarea>

    </form>
</div>